In [1]:
import pandas as pd

from getBCE.menu import *

In [3]:
page = getBCE(
    year = '2021',
    month = 'julio',
    indicator = '022',
)

In [5]:
data = pd.read_excel(page.getHref(), skiprows=8)
df = pd.DataFrame(data)
df.dropna(axis = 0, how = 'all', inplace = True)
df.head(10)

,Unnamed: 0,Unnamed: 1,Productivo Corporativo,Productivo Empresarial,Productivo PYMES,Productivo Agrícola y Ganadero (***),Comercial Ordinario,Comercial Prioritario Corporativo,Comercial Prioritario Empresarial,Comercial Prioritario PYMES,...,Microcrédito acumulación ampliada.1,Microcrédito acumulación simple.1,Microcrédito Minorista.1,Microcrédito acumulación ampliada.2,Microcrédito acumulación simple.2,Microcrédito Minorista.2,Inmobiliario,Vivienda de Interés Público,Vivienda de Interés Social,Unnamed: 27
1,2015,Septiembre,142.806303,30.664544,30.178938,NaN,59.132278,541.223122,80.180021,63.971619,...,NaN,NaN,NaN,NaN,NaN,NaN,47.907702,4.981400,NaN,4.861689
2,NaN,Octubre,22.384548,11.759002,12.120511,NaN,74.785267,573.575607,116.936283,73.535403,...,NaN,NaN,NaN,NaN,NaN,NaN,36.429886,4.921548,NaN,9.842385
3,NaN,Noviembre,21.024664,3.029800,2.658016,NaN,79.393960,698.046546,88.431715,69.369749,...,NaN,NaN,NaN,NaN,NaN,NaN,37.096624,5.143030,NaN,10.745580
4,NaN,Diciembre,7.138846,5.365348,2.381042,NaN,82.714273,668.752682,111.296322,81.042384,...,NaN,NaN,NaN,NaN,NaN,NaN,39.549497,7.592417,NaN,20.779892
6,2016,Enero,12.751910,5.805554,3.757373,NaN,92.973813,653.104850,80.690070,61.334729,...,NaN,NaN,NaN,NaN,NaN,NaN,33.159625,6.536315,NaN,3.359598
7,NaN,Febrero,13.996391,3.417253,7.287795,NaN,75.654349,868.911626,86.239188,66.681601,...,NaN,NaN,NaN,NaN,NaN,NaN,30.713366,6.044490,NaN,4.384622
8,NaN,Marzo,31.946836,3.784566,8.164743,NaN,92.033129,865.466225,122.948975,86.636067,...,NaN,NaN,NaN,NaN,NaN,NaN,43.404439,8.108541,NaN,7.039894
9,NaN,Abril,29.400000,1.650000,6.950000,NaN,68.310000,804.680000,87.870000,82.430000,...,NaN,NaN,NaN,NaN,NaN,NaN,36.660000,6.650000,NaN,13.190000
10,NaN,Mayo,32.663137,8.242581,4.119536,NaN,81.722184,737.584280,94.600590,82.963385,...,NaN,NaN,NaN,NaN,NaN,NaN,39.947823,6.979807,NaN,5.700000
11,NaN,Junio,29.930000,5.510000,5.120000,NaN,84.990000,804.880000,110.420000,85.280000,...,NaN,NaN,NaN,NaN,NaN,NaN,46.940000,7.560000,NaN,7.730000